VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
# Vertex AI Configuration
VERTEX_API_KEY=
GEMINI_API_KEY=
API_KEY=
PAYPAL_CLIENT_ID=AVlygew1dCVKZoGstyLaRUwCibuzVVQovYIyNcGYkyABvZHVjOiosUBCyjY1hQawc-Rf0-_BmeA_3hwp
PAYPAL_CLIENT_SECRET=
PAYPAL_WEBHOOK_ID=0T926204X2359693E
VITE_PAYPAL_CLIENT_ID=AVlygew1dCVKZoGstyLaRUwCibuzVVQovYIyNcGYkyABvZHVjOiosUBCyjY1hQawc-Rf0-_BmeA_3hwp
RESEND_API_KEY=
